
.nav-container {
    background-color: #fd4444; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.bienvenida {
    margin: auto; 
    background-color: #e0de51; 
    width: 29rem;
    height: 5rem;
    font-size: 2.5rem;
    padding: .5rem;    
    border-radius: .5rem;
    border: 1px solid black;

}

.imagenPrincipal {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.catalogo {
    margin: auto; 
    background-color: #e0de51; 
    width: 23rem;
    height: 5rem;
    font-size: 2.5rem;
    padding: .5rem;    
    border-radius: .5rem;
    border: 1px solid black;
}

.categorias {
    border: 1px solid black;
    margin-right: 5rem;
}

.carrito-container {
    background-color: #e0de51;
    display: flex;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    border: 1px solid black;
}

.carrito {
    font-size: 1.5rem;

}

.number-carrito {
    margin-top: .5rem;
    margin-left: .5rem;
    
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    border: 1px solid black;
    padding: .5rem;
    
}

.contadorNumero {
    margin-left: 1rem;
    margin-right: 1rem;
    
}

.contadorReset {
    margin-left: .5rem;
}

.agregarCarrito {
    margin-left: 1rem;
}

.itemlistcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: .5rem;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-content: center;

}

.card-container {
    background-color: rgb(234, 148, 28);
    border-radius: .5rem;   

}

.cardfooter {
    background-color: #fd4444;
    border-bottom: 1rem;
    border-radius: .5rem;
    margin-top: .2rem;
    
}

.textcategoria {
    text-align: end;
    margin-bottom: .5rem;
    font-weight: bold;
    font-style: italic;
    font-size: 1.3rem;
    
}

.cartContainer {
    background-color: #e0de51;
    display: flex;
    border-radius: .5rem;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 2rem;
    padding: 1rem;
    gap: 3rem;
}

.cartContainer h3 {
    font-weight: bold;
}

.botonEliminar {
    background-color: #fd4444;
    border-radius: .3rem;  
    border: 1px solid black; 
    padding: .2rem;
    font-weight: bold;
    margin-top: .7rem;
}

.precioTotal {
    border-radius: .3rem;  
    border: 1px solid black; 
    padding: .2rem;
    font-weight: bold;
    margin-top: .7rem;
}

.enviandoOrden {  
    font-weight: bold;
    margin:1rem;
}

.formulario {
    background-color: #e0de51;
    display: flex;
    border-radius: .5rem;
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    gap: 3rem;
}

.nombre {
    border-radius: .5rem;
    border: 1px solid black;
    padding: .3rem;
}

.email {
    border-radius: .5rem;
    border: 1px solid black;
    padding: .3rem;
}

.enviar {
    background-color: white;
    border-radius: .5rem;
    border: 1px solid black;
    padding: .3rem;
    font-weight: bold;
}

.numeroOrden {
    font-weight: bold;
    margin:1rem;
}

.carritoVacio {
    text-align: center;
    font-weight: bold;
    margin:1rem;
}

.Gracias {
    background-color: #e0de51;
    text-align: center;
    font-weight: bold;
    border-radius: .5rem;
    border: 1px solid black;
    margin: 2rem;
    padding: 1rem;
    gap: 3rem;
}

.copy_container {
    background-color: #fd4444;
    height: 2rem;
    margin: .3rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    
}

.copy_container p {
    padding-top: .5rem;
    text-align: right;
    font-size: .8rem;
    margin-right: 1rem;
}
